.art{
	flex-direction:column;
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
	color:#EEE0E5;
}
.sentence{
	width:100%;
	border:1px solid;
}	
.title{
	width:20%;
	border:1px solid;
} 
.content{
	width:60%;
	height:80%;
	border:1px solid;
	overflow:auto;
}  
.submit{
	width:6%;
	background:#8470FF;
	cursor:pointer;	
}